
.h1 {
    font-size: 18px;
    text-transform: uppercase;
}

.h2 {
    font-size: 45px;
}

.h3 {
    font-size: 32px;
}

.h4_huge {
    font-size: 24px;
}

.h4 {
    font-size: 18px;
}

.h5 {
    font-size: 13px;
}